[2019-08-27 09:07] TatsukiSerizawa opened #1 "Question about "example_cnn.py""
Thank you for making a nice tool.

I have question about "example_cnn.py".
There was the following part in the code.
[code]
I want to use "accuracy_score" in metric, but it couldn't use because error.
[code]

This code is a MNIST classification task, why is MSE used?

[2019-08-28 04:41] SimonBlanke commented on #1
@TatsukiSerizawa
Thank you a lot for your feedback!

This error occurs because of an overlap of the accuracy score of sklearn and keras.
I already worked out a solution, that separates the metrics of both packages. I will do some additional testing today after work and release the fix in v0.4.1.6 afterwards.

I used the mse just to demonstrate, that you can also use a loss function for a classific

[2019-08-28 16:49] SimonBlanke commented on #1
@TatsukiSerizawa
v0.4.1.6 is now up. Doing an update via: 'pip install --upgrade hyperactive' should do the trick.
The readme now contains the available metrics for machine learning and deep learning models.

I also prepared a notebook, in which all the working metrics are shown for different kinds of datasets:
https://github.com/SimonBlanke/Hyperactive/blob/master/notebooks/metrics.ipynb

Thanks

[2019-08-29 04:59] TatsukiSerizawa commented on #1
@SimonBlanke
v0.4.1.6 allowed me to use metric "accuracy" on my PC.
Thank you for the quick answer!

[2019-08-29 06:52] #1 closed

[2020-02-21 18:44] angelgaspar opened #4 "ValueError: ndarray is not C-contiguous"
Hello there!

In your keras_example, I have this error:

ValueError                                Traceback (most recent call last)
<ipython-input-10-c0fa8e29da12> in <module>()
     48
     49 opt = Hyperactive(X_train, y_train)
---> 50 opt.search(search_config, n_iter=5)

13 frames
/usr/local/lib/python3.6/dist-packages/hyperactive/memory/util.py in get_hash(object)
     14
     15 def get_hash

[2020-02-22 05:32] SimonBlanke commented on #4
Hello @angelgaspar

thank you for reporting this bug!

This bug occurs because the "memory"-module of Hyperactive wants to save hash values from the numpy arrays. For that the arrays must be "C-contiguous"

So you can do one of two things to solve this.

You can set the memory to "short" in Hyperactive, so that the hash values will not be used.
[code]

Or you can fix this quickly by changing the o

[2020-02-24 05:18] angelgaspar commented on #4
Hello @SimonBlanke

if I install your package of PyPi:

`pip install hyperactive`

Only one solution worked fine.

I set memory to "short" in Hyperactive.

`opt = Hyperactive(X_train, y_train, memory="short")`
  `opt.search(search_config, n_iter=5)`

it worked fine for me.

In the other case of changing the order of the array before the optimization starts.

`X_train = np.asarray(X_train, order="C

[2020-02-25 15:35] SimonBlanke commented on #4
This is a very interesting problem @angelgaspar,

The file "model_connections.json" is part of the long term memory of Hyperactive and is empty after installation. For some reason it does not get installed even though it is part of the package in Github.

If you want to run the optimization with memory="long" you can run the code snipped below just one time. This will reset the memory and create t

[2020-02-25 15:35] #4 closed

[2020-10-05 08:06] DavidFricker opened #5 "Metadata issue under Windows"
Hi, thank you for making this amazing package!

When I try to run the demo (with no changes) on a windows environment under conda using the latest version from pypi I run into the following error. Please could you tell me what is going wrong or if windows is even a supported OS?

Error:
[code]

Code being run in `test.py`
[code]

Versions:
 - Python 3.7.3
 - hyperactive 2.3.0
 - sklearn 0.21.3
 -

[2020-10-05 08:54] SimonBlanke commented on #5
Hello @DavidFricker

thank you for reporting this issue.

There is currently no testing in Windows. Therefore Windows is officially not a supported OS. But there is a simple workaround.
Just change memory to "short":

`
opt = Hyperactive(X, y, memory="short")
`

Explanation:
The bug occurs because Hyperactive wants to save the "long term memory" to disk. This is a feature that automatically saves

[2020-10-05 09:31] DavidFricker commented on #5
Thank you for the fast clarification and solution! It seems to be working with the `short` memory param

Perhaps using `os.path.join` would be good solution to this problem? As I understand it, this function will use the correct slash for the OS the code is being run on.

Thanks again 😃

[2020-10-06 14:51] #5 closed

[2020-12-17 12:02] DavidFricker opened #6 "Early stopping using max_score"
I am trialling a use of Hyperactive in-conjunction with early stopping.

From my research in the code and docs of this package I can see that we can achieve early stopping by passing parameters along with the name of the chosen gradient free optimizer, like below (?):
[code]

However, the code below does not stop early and continues until all `n_iter` are completed, which is not the behaviour i ex

[2020-12-17 15:00] SimonBlanke commented on #6
Hello David,

I am glad to see, that you are still using Hyperactive.

In the current version of v2.x Hyperactive cannot do an early stop. This feature will be implemented in v3.0 coming in a few weeks.

However, part of the current Hyperactive development is the separation of the optimization algorithms into a simpler api. It is called Gradient-Free-Optimizers and is basically Hyperactive-lite. I

[2020-12-17 18:00] DavidFricker commented on #6
Hi Simon,

Thank you for your fast and in depth response!

I appreciate the work-around code you have provided - it is working great.
We will use `Gradient Free Optimizers` package and wait for hyperactive 3.x to be released, your approach makes a lot of sense :)

Thanks,
David

[2020-12-17 18:00] #6 closed

[2021-01-14 19:33] SimonBlanke opened #7 "Bug when using memory_warm_start with non-numerical search space"
There is a bug in v3.0.2 when using the memory_warm_start and a non-numerical search space. This can be reproduced in the following example:

[code]

[2021-01-18 13:38] SimonBlanke commented on #7
The bug was caused by a missing conversion of the "memory_warm_start" dataframe from the hyperactive search space to the gradient-free-optimizers search space. Gradient-free-optimizers cannot handle non-numerical search spaces.

This bug was resolved in 5db63de435fdc36c66cfcb5af9d07be673f8de82 by introducing a new class that handles the conversions of parameters and results between hyperactive and

[2021-01-18 13:38] #7 closed

[2021-01-22 01:57] hanamthang opened #8 "Out of memory when running Feature Selection (FS)"
Hi there,

Thank you so much for your works on the Hyperactive library. Very useful to our works for Blue Carbon ecosystem evaluation.

Could you have a look at the memory (RAM) consuming when running the Feature Selection? I executed your example for FS using my own data in Google Colab (12 Gb RAM) but always got out of memory.

Anythings need to be noted here?

Many thanks,
Thang

[2021-01-22 05:42] SimonBlanke commented on #8
Hello @hanamthang,

i am happy to hear, that Hyperactive is useful to your work. Your use case sounds very interesting!

I ran the example, but could not see anything out of the ordinary.
The dataset in the example is very small though. Could you tell me the size of your dataset (n rows, n columns)? I would then create a simulated dataset of that size and run the example again. Maybe i can recreat

[2021-01-24 21:11] hanamthang commented on #8
Hi Simon,

Thank you for your reply. Yes, we intent to use the Hyperactive for machine learning models hyperparameters optimization and feature selection as well. :-)

I ran your FS example without any problem, however stuck with the memory in Google Colab. My data is a small dataset, consisting of 85 rows and 29 columns (features). I used your example code with PSO for FS.

Could you think of any

[2021-01-25 07:53] SimonBlanke commented on #8
Hello Thang,

i was able to narrow down where the "out of memory"-error comes from. The initializer in the optimization backend "Gradient-Free-Optimizers" creates this error when searching in a high dimensional search space.
I will open an issue in that repository.

However you can easily bypass this error by setting initialize={"random": 15}.
This should not result in worse optimization results.

[2021-01-26 22:40] hanamthang commented on #8
Hi Simon,

Thank you very much for your suggestions. I can run the Optimizer for FS without any memory errors appeared either using PSO or EvolutionStrategyOptimizer. The implementation of PSO is just to ensure that I can run your codes with my own data ;-).

I'm happy that your package Hyperactive will support us a lot in the next research papers.

Will you maintain this repository permanently?

[2021-01-28 20:12] SimonBlanke commented on #8
Hello Thang,

i am glad the optimization strategy works out for you now. It is also good to hear, that Hyperactive provides so much support for your research projects.
The Hyperactive project is very close to my heart, so i will maintain and upgrade it as long as possible.

Simon

[2021-01-28 20:12] #8 closed

[2021-02-03 16:04] SimonBlanke opened #9 "warm_start_smbo in sequence model based optimizers not working properly"
The argument "warm_start_smbo" is not working properly in the current version (v3.0.3) of Hyperactive. The reason is a faulty conversion from the Hyperactive search space to the Gradient-Free-Optimizers search space.

The "warm_start_smbo" argument is used in the following optimizers:
 - BayesianOptimizer
 - TreeStructuredParzenEstimators
 - DecisionTreeOptimizer

[2021-02-06 08:17] gr8den opened #10 "Handle np.inf or -np.inf returned by objective_function/model"
If _objective_function_ return _-np.inf_ some optimizers cannot handle it.

For example:

_EvolutionStrategyOptimizer_, _ParallelTemperingOptimizer_ throw exception
`AttributeError: 'NoneType' object has no attribute 'shape' `

_DecisionTreeOptimizer_ throw exception
`MemoryError: Unable to allocate 1.81 PiB for an array with shape (9857, 1620, 1620, 9857) and data type int64`

But _RandomSearchOp

[2021-02-06 09:06] SimonBlanke commented on #10
Hello @gr8den

thanks for opening this issue. This is a very important bug that you found there.
Returning "-np.inf" or "np.inf" is important for many use cases, including early stopping.

I was able to reproduce the errors for _EvolutionStrategyOptimizer_ and _ParallelTemperingOptimizer_.
But for _DecisionTreeOptimizer_ i get:
[code]

Could you provide the code that you ran for _DecisionTreeOptim

[2021-02-06 09:51] gr8den commented on #10
Hello @SimonBlanke

Yes, turns out changing -np.inf to -9999 not solve MemoryError for _DecisionTreeOptimizer_ (_BayesianOptimizer_,  _TreeStructuredParzenEstimators_)

Code for reproduce error:

[code]

Output:
[code]

[2021-02-06 10:02] gr8den opened #11 "Blank lines in terminal when verbosity=False"
[code]

Output:
[code]

[2021-02-06 10:45] SimonBlanke commented on #10
Okay, I was able to reproduce both errors and I also found out the origin.

Both are located in the optimization backend: _Gradient-Free-Optimizers_

The error:
[code]
is a behavior that is expected because of how sequence model based optimizers work:
In each iteration those optimizers calculate the approximate score in the search space of (in your case) size 1619* 9856* 1619* 9856. This means the

[2021-02-06 11:30] SimonBlanke commented on #11
Hello @gr8den

thanks for showing this. I found the error in the optimization backend _Gradient-Free-Optimizers_.
I released the fix (along other changes) in v0.2.10. An update of the package should also fix it in Hyperactive for you.

[2021-02-06 11:30] #11 closed

[2021-02-07 14:10] SimonBlanke commented on #9
This bug was fixed in af8518e6d2334a380aa95a677d467bd781b7154a
A fixed version (v3.0.4) is up now.

[2021-02-07 14:10] #9 closed

[2021-02-16 08:12] DavidFricker opened #12 "Saving checkpoints"
Hi Simon,

Please could you let me know if there is a way to checkpoint the search space and persist it to disk after each iteration. I imagine there is a way since there is a `memory_warm_start` parameter available that could be used to resume from a saved checkpoint once loaded into a pandas dataframe?
I can see a call to `.results()` will return the dataframe in question but that seems to only

[2021-02-16 09:23] SimonBlanke commented on #12
Hello David,

if I understand your question correctly you want to save the selected parameters from the search space after each iteration and "append" them into a pandas dataframe.

This would look like this:
[code]

Does this describe your question adequately?

[2021-02-16 10:39] DavidFricker commented on #12
Thanks for the quick response again!

In the example you provide, how would we get the "optimizer state" from the `para` variable to then save it to the pandas dataframe and later pass to the `memory_warm_start` parameter of `add_search()`?

We are looking to save the progress of the search after each iteration to be able to recover the search following a crash or similar un-planned exit (similar

[2021-02-16 12:06] SimonBlanke commented on #12
I see what you want to do now.

I wrote another code snipped that should help you. This code is a complete example with a simple machine learning model.
[code]

But be aware that the file "search_data.csv" gets overwritten each time you run this script. To avoid this you can just delete the lines after the first time you ran the script:
[code]

The functionality to save search-data during the run

[2021-02-16 12:09] SimonBlanke opened #13 "New feature: Save search-data during optimization run"
The user @DavidFricker asked for a way to save search-data during an ongoing optimization run in the issue SimonBlanke/Hyperactive#12. This is a feature i would like to implement as a helper-class in Hyperactive.

[2021-02-16 12:31] SimonBlanke opened #14 "Problem with "memory_warm_start" when functions are in search space"
In the current version (v3.0.4) there is a problem with the feature to utilize the search-data of a previous run, when the search space contains functions. For this problem to occur the search-data is previously saved to disk. The same problem exists with search-data passed to "smbo_warm_start".

The following code shows an example for this problem:
[code]

The problem results in search-data in th

[2021-02-16 14:46] DavidFricker commented on #12
Your example works perfectly and exactly addresses what we needed, thank you.

Thanks again for all your help!

[2021-02-16 14:46] #12 closed

[2021-02-16 14:51] SimonBlanke opened #15 ""IndexError: list index out of range" because of unordered dictionary"
The error occurs in less than 10 percent of the cases when using python 3.5 and is located in the "_positions2results"-method of the optimizer-wrapper-class. It occurs because the method is not save to unordered dictionaries.

Hyperactive is not susceptible to this error for python versions 3.6, 3.7 and 3.8.

[2021-02-21 15:44] SimonBlanke commented on #14
I gave this problem some thought and realized, that it is not a bug. Saving the search data to disk is not part of the Hyperactive features, but maybe it should be in the future. Therefore this issue is now a feature-request.

[2021-02-23 09:27] SimonBlanke commented on #10
All errors discussed in this issue have been fixed. These were:
 - AttributeError: 'NoneType' object has no attribute 'shape
 - ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

Hyperactive and Gradient-Free-Optimizers can now handle np.nan and np.inf as a score from the objective function. Download the newest version of gradient-free-optimizers to fix the proble

[2021-02-23 09:27] #10 closed

[2021-02-24 10:45] mattwedge opened #16 "Errors when there is only one option for a hyperparameter"
**Describe the bug**
Sometimes while trying out different combinations of hyperparameters I find it useful to fix a hyperparameter to a specific value (e.g. I have determined that a specific value is better than all others). However doing this by simply providing the `search_space` parameter with a list of length 1 throws a value error. I could fix the values downstream but I lose some flexibility

[2021-02-24 11:48] SimonBlanke commented on #16
Hello @mattwedge,

your detailed description of the bug helped me quickly find the problem in the smb-optimizers. Thanks for taking your time :-)
But this is a problem within the optimization backend in another repository. I will open an issue there and then we can solve this problem.

Posting in the wrong repository happens a lot here. I will write a small guide in the issues bug-template that sh

[2021-02-24 11:48] #16 closed

[2021-02-26 08:55] SimonBlanke commented on #15
In the following stackoverflow question the ordered dictionary in python 3.6+ was discussed: [link](https://stackoverflow.com/questions/39980323/are-dictionaries-ordered-in-python-3-6)

It seems, that ordered dictionaries will stay in future python versions.

[2021-02-26 09:24] SimonBlanke commented on #15
I took a closer look into the bug and fixed it in aaedceb8f201eaa34d38e94c0ce520d5b7e3937b.
This has the following reasons:
 - Even if dictionaries will be ordered in future versions it seems saver not to rely on that for now.
 - i do not have to drop python 3.5 support
 - The code quality is improved (before now the Hyperactive code accessed some attributes from Gradient-Free-Optimizers that were

[2021-02-26 09:24] #15 closed

[2021-03-01 12:28] PartiallyTyped opened #17 "Pickling issue with multiprocessing"
**Describe the bug**
Enabling more than 1 jobs crashes the code because the arguments can not be pickled.

**Code to reproduce the behavior**
[code]

**Error message from command line**

[code]

**System information:**
 - OS Platform and Distribution: MacOS 10.14.6
 - Python version:
[code]
 - Hyperactive version: 3.0.5

[2021-03-01 13:04] SimonBlanke commented on #17
I was not able to reproduce this error in Ubuntu 20.04 with the same python and hyperactive version. The fact that it works on my end surprises me, because Hyperactive uses multiprocessing as default. I always thought multiprocessing cannot handle lambda because it uses pickle.

Maybe you could try using joblib for Hyperactive. It is a shot in the dark but maybe this works for your OS.

Here is a

[2021-03-01 13:36] PartiallyTyped commented on #17
Joblib works, thanks!

One more thing, n_jobs is independent of the number of runs, is this correct? So if I wanted to run the experiment 50 times, I'd have to call run 50 times and collect the results each time, is this correct?

[2021-03-01 15:11] SimonBlanke commented on #17
Very good! It works now, because joblib uses an alternative to pickle.

I am not sure i understand your question.
n_jobs opens n processes during the optimization run. Each of those processes runs n_iter iterations. If n_jobs == -1 then n_jobs is set to the number of CPU cores available.

I hope this answers your question. If you need more clarification or have another question feel free to open a

[2021-03-01 15:11] #17 closed

[2021-03-01 15:20] PartiallyTyped opened #18 "n_jobs opens a limited number of processes"
**Describe the bug**
n_jobs does not start the provided number of processes, instead it starts `min(n_jobs, 12)`, and with `n_jobs=-1` it runs 12 jobs.

**Code to reproduce the behavior**

[code]

**Error message from command line**
NA

**System information:**
 - OS Platform and Distribution: MacOS 10.16.4
 - Python version: 3.8.5
 - Hyperactive version: 3.0.5

**Additional context**

Basically, I

[2021-03-01 16:10] SimonBlanke commented on #18
Hello @PartiallyTyped,

I did some reading about multiprocessing with more processes than cores. I think you are right that this should be possible.

[2021-03-01 16:42] SimonBlanke commented on #18
I fixed this bug in 390874f and tested it in e6fbd0c. The fix can be downloaded with version 3.0.5.1. Please let me know if this works for you.

[2021-03-01 18:14] PartiallyTyped commented on #18
Hi, thanks Simon, it appears that it is working. Would it be possible to have `n_jobs` active while running `n_experiments`.

Basically, I need to run my experiment, including the optimization process 500 times, but spawning 500 python processes is very ram intensive. So would it be possible to schedule N experiments to be run while having M active processes?

I have experience with `multiprocessi

[2021-03-02 07:03] SimonBlanke commented on #18
Hello @PartiallyTyped,

what would `n_experiments` be in this scenario?
As far as i understood you want to run 100 processes in 5 experiments instead of 500 processes all at once, to avoid excessive ram usage.

- What is stopping you running those 5 experiments one after another? You can collect all the results after an optimization run has finished and pass it to the next one.

 - There is also t

[2021-03-02 07:13] SimonBlanke commented on #13
I am merging issue SimonBlanke/Hyperactive/#14 into this one. If a module for saving/reading search data to/from disk will be implemented i would like it to handle data types like python objects.

Do ensure data persistence of objects the "dill"-package could be used. To identify if objects are the same or not the user would have to manually name those objects.

[2021-03-02 07:14] SimonBlanke commented on #14
This feature request will be continued in SimonBlanke/Hyperactive#13.

[2021-03-02 07:14] #14 closed

[2021-03-17 08:41] SimonBlanke opened #21 "API for v4.0.0 of Hyperactive"
In this issue the progress for the final API-design for Hyperactive is tracked.

There are some important features I want to implement for Hyperactive:
 - A reliable way for Hyperactive to store search data.
 - Support for the search data storage of python functions

This would open up the following possibilities:
Hyperactive stores the search data after/during the search in the background (based

[2021-03-17 11:13] cryptocoinserver opened #22 "How to handle exceptions / pruned trials and calculating n_iter from search space?"
Thank you for this awesome python library. I'm currently working on an implementation of it for the Jesse project. Its a crypto backtesting framework. I use hyperactive to optimize the parameters of the trading strategies. [https://github.com/jesse-ai/jesse/blob/hyperactive/jesse/modes/optimize_hyperactive_mode/__init__.py](https://github.com/jesse-ai/jesse/blob/hyperactive/jesse/modes/optimize_hy

[2021-03-17 15:02] SimonBlanke commented on #22
Hello @cryptocoinserver,

very cool, that you are using Hyperactive for your own project. I am glad you like my work.

I believe, that I can answer both of your questions:

1. If parameters do not work you can return numpy.nan. This was recently implemented and is much cleaner than just returning a low score, because the optimization algorithm ignores nan for its calculation. As if it is not part

[2021-03-17 18:58] #22 closed

[2021-03-17 19:15] cryptocoinserver commented on #22
Perfect. Thank you. I return np.nan now.
I read about the memory it's on by default right?
About n_iter so what do you think would be a good calculation based on the possible combinations for it.
It should be far smaller right?
Thank you.

[2021-03-18 06:21] SimonBlanke commented on #22
Yes, the memory is activated by default.

The n_iter is a difficult subject, because it really depends on the time (or computational resources) you want to spend. If the size of your entire search space is 1000 but doing 10 iterations takes 10 hours, how much iterations should you do? If your search space has 1000 positions and you do 1000 iterations but the best score seems too bad you should pro

[2021-03-18 12:12] cryptocoinserver commented on #22
I see. Thank you a lot!

[2021-03-19 12:06] suciokhan opened #23 "No score variance over 50 iterations despite multiple parameters switched"
Attempted tuning a xgboost binary classifier on tf-idf data adjusting n_estimators, max_depth, and learning_rate and there was zero variation in the score for each of 50 iterations. When I manually tweak parameters and run a single training instance manually, I achieve score variations. `Note:` I have also tried this with the default optimizer for 20 iterations and different ranges for the paramet

[2021-03-19 12:24] SimonBlanke commented on #23
Could you provide the entire script? How do i get "jc"? I would like to reproduce this bug.

[2021-03-19 12:27] SimonBlanke commented on #23
I already have the suspicion that the SimulatedAnnealingOptimizer "sticks" to the edge of the search space. This can happen for those kinds of local optimizers when n_iter is very small.

[2021-03-19 12:52] suciokhan commented on #23
jc is a script of helper functions I have for taking a dictionary of social media posts, their authors, dates, and recipients, pulling out the post texts, cleaning them, tokenizing them, and generating labels for them. I also get the `exact same score` when I do not use SimulateAnnealing, and instead use the default random optimizer.

[2021-03-19 12:56] SimonBlanke commented on #23
I just found the "error". You create the parameters in the search space, but you are not using any of them. The model does not change during the optimization run.

Your objective function should look like this:
[code]

It is funny how I missed this in my answers above. If you are convinced something is wrong it is sometimes hard to see the obvious.

I will close this issue now, but if you have fur

[2021-03-19 12:56] #23 closed

[2021-03-19 17:58] suciokhan opened #24 "Parameters: { early_stopping_rounds } might not be used"
Hello there; I got a message saying that I should report this error when it pops up:

[code]
Here is how I added this parameter to the model, since I want 20 stopping rounds:
[code]

**System information:**
 - OS: Ubuntu 20.04
 - Python 3.6
 - Hyperactive version: 3.0.5.1

[2021-03-20 05:03] SimonBlanke commented on #24
Hello @suciokhan,

this message is not from Hyperactive or any of its backend packages.

It seems to originate from the XGBoost package.

[2021-03-20 05:03] #24 closed

[2021-03-21 05:24] SimonBlanke commented on #21
From my most recent development in the [long-term-memory](https://github.com/SimonBlanke/long-term-memory)-repository I found out, that the "important features" described above should be possible without a new API of Hyperactive. But the official support for other data types than numeric, string and functions in the search space would be removed.
Therefore I will continue the discussion about thos

[2021-03-21 09:23] cryptocoinserver opened #25 "para2value - 'NoneType' object is not subscriptable"
**Describe the bug**
In some optimizations, I get this error. I can run the same optimization.
Sometimes it works perfectly and other times it suddenly throws this. Couldn't retrace why it's None.

**Error message from command line**
[code]

**System information:**
 - OS Platform and Distribution - Ubuntu (Docker)
 - Python version 3.8
 - Hyperactive version 3.0.5.1

[2021-03-21 09:42] cryptocoinserver commented on #25
I think it's related to a warm start. It happens if the optimization results (CSV) only have scores with np.nan.

[2021-03-21 09:51] SimonBlanke commented on #25
Hello @cryptocoinserver,

could you provide the code to reproduce this error?

[2021-03-21 09:57] cryptocoinserver commented on #25
[code]

[2021-03-21 10:06] cryptocoinserver commented on #25
I did more tests. It only happens running very few iterations on something that's not working in the sense of scores being np.nan.
(What I did during development right now). In production this probably wouldn't be a error. Only if someone stopped a optimization very early.

[2021-03-21 10:07] SimonBlanke commented on #25
Hello @cryptocoinserver,

it is very difficult to reproduce the error with the code snipped above. I need a script I can run that produces the error otherwise it is just a guessing game for me. Can you provide a small and complete script?

[2021-03-21 10:23] cryptocoinserver commented on #25
[code]

[2021-03-21 10:24] cryptocoinserver commented on #25
This should help. Thank you for your time.

[2021-03-21 10:58] SimonBlanke commented on #25
I fixed this error. But you have update Hyperactive (v3.0.6) and Gradient-Free-Optimizers (v0.3.1). I also added your script as a test, so that this never happens again. Let me know if this works for you now, so that we can close this issue.

And thanks for your help in finding this bug! :-)

[2021-03-21 11:22] cryptocoinserver commented on #25
Wow very fast. Thank you.
Sadly now I got:
[code]

[2021-03-21 11:24] SimonBlanke commented on #25
You have to update Gradient-Free-Optimizers to v0.3.1 like described above.

[2021-03-21 11:26] cryptocoinserver commented on #25
Oh indeed. Sorry, my bad. I was too fast 😄. 0.3.0.1 != 0.3.1
Now it works.

[2021-03-21 11:26] #25 closed

[2021-03-21 11:26] cryptocoinserver commented on #25
Thank you for the fast support.

[2021-03-22 14:16] suciokhan opened #26 "Request TPE example"
Hello, the link you provide to TPE use example gives me a 404 error.
Here's the URL:
`https://simonblanke.github.io/Hyperactive/#/./optimizers/sequential_mehttps://github.com/SimonBlanke/Hyperactive/tree/master/examples/optimization_techniques/tpe.py`

[2021-03-22 15:04] SimonBlanke commented on #26
Thank you @suciokhan! I just fixed the link for the example.

[2021-03-22 15:04] #26 closed

[2021-04-01 15:20] SimonBlanke opened #27 "Bug when calling .results(...) in jupyter-notebook"
This bug occurs when you want to access the search data via the .results(objective_function) method within a jupyter-notebook. The reason is because a jupyter-notebook seems to have a strange way to store python functions after they were defined.
Sometimes Hyperactive doesn't find the objective_function any more because it is stored at another place.

I can probably fix this error by comparing the

[2021-04-14 09:59] SimonBlanke commented on #18
This issue was fixed by b89548894a86ac3232759dca9523c80181c77894 to work with the current API. Thanks again to @PartiallyTyped for suggesting this feature and contributing to it.

[2021-04-14 09:59] #18 closed

[2021-04-14 11:20] SimonBlanke commented on #27
I did not find a way to reliably reproduce this error in a jupyter-notebook. It sometimes occurs when the method .results(...) is called again after other computations have been made. However I fixed the supposed origin of this error and have not encountered this error since then. I will close this issue for now, but I will reopen it of this problem occurs again.

[2021-04-14 11:20] #27 closed

[2021-06-04 02:37] stanfordkim opened #28 "Particle Swarm Optimizer"
In Particle Swarm Optimizer the parameters what we can set as following. But in PSO the number of particles is a very important parameter we need to consider. How to set the number of particles because we can't see the parameter value setting in the function.
optimizer = ParticleSwarmOptimizer(inertia=0.4, cognitive_weight=0.7, social_weight=0.7, temp_weight=0.3, rand_rest_p=0.05)

[2021-06-04 06:02] SimonBlanke commented on #28
Hello @stanfordkim,

you can set the number of particles with the "population"-parameter. By default the population is 10. You didn't see this parameter because I failed to update the [optimization-tutorial](https://github.com/SimonBlanke/optimization-tutorial). I have now added this parameter to the tutorial.

Thank you for the question @stanfordkim! If you have any further questions or suggestio

[2021-06-04 06:02] #28 closed

[2021-06-04 07:02] stanfordkim commented on #28
Hi  Simon Blanke:

Thank you for your reply.

Yours sincerely.

[2021-06-10 08:35] vanquanTRAN commented on #13
Thank you for your code sharing and your extraordinary development. I try to modify your code to show each iteration versus best score, that help us to show a graph n_iter vs best score.
print('Iteration {}: Best Cost = {}'.format(best_iter, best_score=)).
But i cant not succeed,
Could you help me to handle this issue ? Thank you for your help.

[2021-06-11 08:16] SimonBlanke commented on #13
Hello @vanquanTRAN,

thank you for requesting this feature, but as far as I understand the feature you request is **not** about "Save search-data during optimization run" but about displaying information about the optimization run. It would be better if you open a **new issue** and describe what you want to do (use the issue template).

[2021-06-11 08:47] vanquanTRAN commented on #13
Thank you for your proposal

[2021-06-11 08:49] vanquanTRAN opened #29 "information displayed in the optimization process"
Thank you for your code sharing and your extraordinary development. I try to modify your code to show each iteration versus best score, that help us to show a graph n_iter vs best score.
print('Iteration {}: Best Cost = {}'.format(best_iter, best_score=)).
But i cant not succeed,
Could you help me to handle this issue ? Thank you for your help.

[2021-06-11 11:27] SimonBlanke commented on #29
Hello @vanquanTRAN,

could you describe your problem in more detail?

Do you want to print this information in each iteration?
Do you really need the information at runtime? You could just get the search data after the run finished via hyper.results(model).

The more information you give about your problem and what you want to do, the better I can help you.

[2021-06-11 15:51] vanquanTRAN commented on #29
Hello Simon, thank you for your enthusiasm, in fact, your code can help us to verify the best score over each iteration.
But perhaps due to my mistake or the optimization algorithms are coded in different ways because should the best score such as R2
![Untitled](https://user-images.githubusercontent.com/85673198/121713747-5f5be680-cb07-11eb-9095-2f623de51d42.png)
of iteration (n+1) th be greater o

[2021-06-14 18:21] SimonBlanke commented on #29
Hello @vanquanTRAN,

thank you for going into so much detail! I am currently working on a new feature that should solve this problem.
I will give you an update (probably tomorrow) on how you can output this data during the optimization run.

[2021-06-15 18:48] SimonBlanke commented on #29
Hello @vanquanTRAN,

I looked into a solution for your problem. I had to do some small additions to the optimization backend, so you should update it via: ```pip install gradient_free_optimizers==0.3.2```

After the update you can run the example code below:

[code]

Please let me know if this solution works for you.

[2021-06-16 03:44] vanquanTRAN commented on #29
Thank you Simon, your solution is well done for me now, your work will be cited in my paper if it is published
Thank you

[2021-06-17 07:42] SimonBlanke commented on #29
Very good @vanquanTRAN! I would appreciate a citation in your paper.

I will leave this issue open for now, because I have an additional new feature, that will be released within the next week.

[2021-07-06 15:30] Bhard27 opened #30 "Please help me with the error I'm getting"
I am trying to run the following code :

import time
import numpy as np
from keras.datasets import cifar10
from tensorflow.keras.utils import to_categorical
from keras import optimizers

from hyperactive import RandomSearchOptimizer, ParticleSwarmOptimizer

(X_train, y_train), (X_test, y_test) = cifar10.load_data()

X_train = X_train.astype('float32')/255.0
X_test = X_test.astype('float32')/255.0

[2021-07-06 16:32] SimonBlanke commented on #30
Hello @Bhard27,

the example you provided is from a ~2 year old API of Hyperactive (before version 1.0.0). The current version (which you probably have installed) is much easier to use.

Where did you get this example from?

If you are using the current version of Hyperactive you can take a look at the examples in the [overview section of the readme](https://github.com/SimonBlanke/Hyperactive#over

[2021-07-06 21:36] Bhard27 commented on #30
Thanks for the reply back.

Sorry, yes you're right. Your package was mentioned and stored locally in an old project I was trying to implement. [Link](https://github.com/TatsukiSerizawa/LDWPSO-CNN/tree/master/src).

Thanks for sharing the Keras example with me, that is really helpful. I'm able to run the tests by using custom optimizer.

[2021-07-07 06:35] SimonBlanke commented on #30
Very interesting: The old project is from "TatsukiSerizawa". I recognize him as one of the first users of Hyperactive.

If you are new to Hyperactive you should check out the [Hyperactive Tutorial Notebook](https://nbviewer.jupyter.org/github/SimonBlanke/hyperactive-tutorial/blob/main/notebooks/hyperactive_tutorial.ipynb). It explains the most important features of Hyperactive and has a lot of vis

[2021-07-07 06:35] #30 closed

[2021-07-22 11:05] SimonBlanke commented on #29
Since v3.2.0 a streamlit-based dashboard for the visualization of the search data (automatically) collected during the optimization run has been added: [Example](https://github.com/SimonBlanke/Hyperactive/blob/master/examples/optimization_applications/progress_visualization.py)
This should give enough flexibility to display information during the optimization progress.

[2021-07-22 11:05] #29 closed

[2021-08-04 05:27] SimonBlanke commented on #13
In https://github.com/SimonBlanke/Hyperactive/issues/13#issuecomment-788675719 I mentioned the possible usage of dill for python objects. From my most recent development I will not use dill to save objects from the search space. Instead it will be required to put objects into functions. This would look like in the code snippet from https://github.com/SimonBlanke/Hyperactive/issues/21#issue-8335355

[2021-08-04 05:34] SimonBlanke commented on #21
In the upcoming releases of Hyperactive there will be more helper tools (like dashboards, data storage, ...). To ensure a better structure I will move the all optimizer classes from the top module to an "optimizer" submodule.

So instead of
`
from hyperactive import RandomSearchOptimizer
`

in the v4.0.0 the import will be like:
`
from hyperactive.optimizers import RandomSearchOptimizer
`

I will

[2021-08-04 05:38] SimonBlanke commented on #21
Most of the helper tools mentioned in https://github.com/SimonBlanke/Hyperactive/issues/21#issuecomment-892376648 (as well as the current ProgressBoard) will be optional installations in v4.0.0 because they have several additional dependencies (streamlit, plotly, matplotlib, filelock, ...).

[2021-08-09 16:04] SimonBlanke opened #31 "RecursionError: maximum recursion depth exceeded in comparison"
When running the Progress Board for a long time (~1 hour) the following error occurs. I have not been able to reproduce this error in a shorter time. This error seems to originate from plotly but I suspect that the integration of the plotly-figure into the streamlit dashboard (which reruns ~1/second) triggers this.

[code]

[2021-08-26 20:25] 0liu opened #32 "Memoize evaluation results across multiple processes"
Hi Simon,

I'm not sure if this is an enhancement request or it's already done. With `memory = True` Hyperactive can memoize evaluation results for later use, while in multiprocessing setup with n_jobs > 1, it looks each process keeps its own local dictionary and they cannot access the results from other processes, because I save evaluation results of all processes and there are some identical par

[2021-08-29 06:30] SimonBlanke commented on #32
I managed to implement the shared memory dictionary for multiprocessing in 5439daf8caec12e8944e6ed4c55516c6200a8816. It requires >=0.3.3 of Gradient-Free-Optimizers (because I needed to enable the pass through of the shared memory dict).
The shared memory dictionary is automatically activated if memory=True and is shared between all objective functions that are equal. There is no additional input

[2021-08-29 06:30] #32 closed

[2021-08-30 05:41] SimonBlanke commented on #31
From further experiments I am now sure, that this is a problem with the `experimental_rerun` in streamlit. If there are no plots contained in the progress-board the recursion error will still occur. Increasing the recursion limit just increases the time before the error starts + the memory usage will increase further over time.

[2021-09-01 08:00] stanfordkim commented on #29
Hello Simon,
Thank you for your sharing. In above questions, I can understand that using **para.optimizer.best_score** can help us to get the best score during each iterations. My question is if I want to know the average score (as following picture) in each iteration how can I do. Could you explain on it or give me any instruction, thank you.
<img width="531" alt="截圖 2021-09-01 下午3 58 20" src="ht

[2021-09-07 07:00] aminamani10 opened #33 "Data type"
Hello and tnx for this great library.
in CNN networks, most of the time we used imageDatagenerator which save data and label in a data frame and we have not a separate x and y. this is same for train, validation and test sets. this library can support this? or we need separate data and labels like in examples. if this support dataframeiterator type (output of imageDatagenerator) will be amazing.

[2021-09-08 03:23] SimonBlanke commented on #33
Hello @aminamani10,

yes, Hyperactive is very flexible in how you put your model into the objective function. If the image-datagenerator-stuff does not change during the optimization run you can just put it outside the objective function. This way it is created only once instead of each time the objective function is evaluated.

If you post a small script of your model I can show you how to utiliz

[2021-09-08 14:48] aminamani10 commented on #33
Tnx I could solve that. it will be amazing if you can link this project with pyomo package and adding other metaheuristics algorithms to this package to solve mathematical programming problems too ( and multiobjective mathematical programming problem). all industrial engineers and those who are research in the operation research field will cite your package in their research.

[2021-09-09 09:50] aminamani10 commented on #33
I have another question too, it takes too much for running this with a deep network, is it possible to run this on a tpu (google colab) too? if it's possible will be great if you put an example code for that. very tnx.

[2021-09-09 11:43] SimonBlanke commented on #33
Hello @aminamani10,

I will look into the pyomo package. It will probably be very difficult to link Hyperactive with pyomo, but I could implement some of the algorithms in my package.

It is possible to run the network on a GPU or TPU. Hyperactive does not affect how the model is trained.
Also: Hyperactive does not slow down the training procedure at all. The computational load from Hyperactive is

[2021-09-09 11:43] #33 closed

[2021-09-09 12:06] aminamani10 commented on #33
i have no problem with running code on colab with GPU, but with TPU it doesn't run. it will be great if u add example for TPU tnx.

[2021-09-09 13:32] SimonBlanke commented on #33
@aminamani10 I just ran the tensorflow example from the Hyperactive examples on a TPU in colab and it works without any problems. Could you provide an example I can run, that shows the error in colab?

[2021-09-10 12:24] aminamani10 commented on #33
unfortunately, I did not save that. but the problem was when the CNN model function wanted to be run inside strategy.scope() function, it did not recognize the params input. it would be great if you add an example for this. tnx

[2021-09-10 23:55] 0liu opened #34 "Hyperactive returns integer parameters as float in best_para when search space has both int and float parameters"
Hi Simon,

This is not strictly a bug but more like a suggestion or concern. As I reported in SimonBlanke/Gradient-Free-Optimizers#15, integer parameters in search space are returned as float, which caused `TypeError` if passing the best para to model for evaluation. It turned out the issue was not in the optimizers, but in Hyperactive converter functions, specifically:
https://github.com/SimonBla

[2021-09-11 18:54] 0liu commented on #34
Hi Simon,

I missed the key information in this issue's description but mentioned it in my PR: This happens when search space contains **both integer and float type parameters**. In this way, numpy will convert integer parameter value to float. I updated the title and first post.

By your example, if we have two parameters for the obj_func:
[code]
The results are:

   Best score: 1
   Best paramet

[2021-09-12 07:58] SimonBlanke commented on #34
Hello @0liu,

now I see! Thank you for the explanation. This should be classified as a bug. But I think this bug originates in GFO. I reopened your original [issue in GFO](https://github.com/SimonBlanke/Gradient-Free-Optimizers/issues/15), because the error occurs only when the search space contains int and float. We missed this in the original issue.

GFO also has the int to float converted param

[2021-09-28 06:03] SimonBlanke opened #36 "add resnet example"
Since Hyperactive is able to perform neural architecture search it would be interesting to have an example of the optimization of a residual neural network. It would then be possible to tune the skip-connections of the resnet by changing the number of skip-connections and/or the connection-positions in the neural network.

[2021-09-29 08:30] SimonBlanke commented on #34
After this problem was fixed in [GFO](https://github.com/SimonBlanke/Gradient-Free-Optimizers) I tested the same thing for Hyperactive. The same error occurred so I merged the pull request SimonBlanke/Hyperactive#35, added some small fixes and added the test.

Thanks to @0liu for fixing this bug.

[2021-09-29 08:30] #34 closed

[2021-10-22 18:24] SimonBlanke opened #37 "add multi gauss fit example"
An interesting example for gradient-free-optimization is fitting one or multiple gauss functions to data. The data can be generated with numpy for this example.
A "real world" example of this problem is fitting gauss functions to particle-resonances in an energy spectrum. So this example should be very helpful for particle physicists.

[2021-10-24 15:16] SimonBlanke opened #38 "add siamese network example"
Since Hyperactive allows a lot of flexibility in creating the objective function, the optimization of hyperparameters, cost function or structure of a siamese network should be possible.

[2021-11-09 20:53] nevinadalal commented on #37
Hey, my team and I are interested in helping you out! Correct me if I am wrong, from our understanding you need a function whose input is a dataset and should return the parameters of the Gaussian curves that fit the data. Could you please shed more light on this?

[2021-11-10 19:47] mlittmanabbvie opened #39 "Type Error: unsopported operand type(s) for -: 'function and function'"
**Look into the FAQ of the readme. Can the bug be resolved by one of those solutions?**
Not in the FAQs

**Describe the bug**

TypeError: unsupported operand type(s) for -: 'function' and 'function'

**Code to reproduce the behavior**
'''
       from hyperactive import Hyperactive
      from hyperactive import RepulsingHillClimbingOptimizer, RandomAnnealingOptimizer

      class Parameters:

[2021-11-11 07:08] SimonBlanke commented on #37
Hello @nevinadalal,

thanks for helping out!

That is exactly it. The idea comes from a problem in physics:
You have an experiment in which you measured the energy spectrum of the decay products from some emitter (maybe a radioactive sample). The energy spectrum can be shown as a histogram similar to this: [researchgate link](https://www.researchgate.net/profile/D-Bazin/publication/224864655/figur

[2021-11-11 07:16] SimonBlanke commented on #39
Hello @mlittmanabbvie,

thank you for the information about this issue, but I think there is some code missing. I must be able to take your example, run it and reproduce the error.

Only part of your code is in a code-block. Please make sure to put the code into a code-block like this:
**```python**

**```**
This makes it much easier for me to help you.

[2021-11-11 18:11] mlittmanabbvie commented on #39
Fixed the code block, it was right below the actual block. Thank you for your help in advance!

[2021-11-11 18:50] SimonBlanke commented on #39
Thank you very much!
There is still the problem, that I cannot run the code. I need a full example, that I can run. Without a complete script it is almost impossible for me to figure out the issue.

I need a code block that I can just copy into a *.py file and execute (to get the same error as you).

[2021-11-11 20:02] mlittmanabbvie commented on #39
Updated code block, you can run the block directly now

[2021-11-12 03:49] SimonBlanke commented on #39
Very good! :-) I will look into this issue later today.

[2021-11-12 16:59] SimonBlanke commented on #39
I looked into this issue. I am certain, that it occurs because of a problem of the transformation between the hyperactive warm start into gfo warm start. I am surprised i missed this test case! I will fix this tomorrow (and write multiple tests) and release it in v3.3.3.

Thank you very much for pointing me to this problem! :-)

[2021-11-12 19:55] mlittmanabbvie commented on #39
Thank you for looking into this! By the way, it also fails for strings, it says unsupported for type string and string. My guess would be that the line pos = np.abs(value[n] - np.array(space_dim)).argmin() is essentially assuming the value to be a numeric type which is why you then can't subtract a function from a function or a string from a string.

[2021-11-13 16:20] SimonBlanke commented on #39
Your guess was right! ;-) It is a part of the code that converts the hyperactive parameter into gfo parameter. I already fixed it by checking the types in the search space beforehand and using the fast method for numeric search space dimensions:

If the type is not numeric but string or other python objects another method is used to convert the parameter.

This works fine for most cases! But there

[2021-11-16 08:31] SimonBlanke commented on #39
After some more testing I discovered a problem with classes wrapped in functions in the search space when using multiprocessing (n_jobs>1 or multiple .add_search()). The package dill cannot pickle those objects. A solution could be to use cloudpickle, which is included in joblib for parallel computing. Joblib can already be used in Hyperactive [see joblib tests (test_joblib_0 and follows)](https:/

[2021-11-16 08:39] SimonBlanke commented on #31
After trying several different approaches, I came to the conclusion to ditch Streamlit for this live update dashboard because I couldn't implement a satisfactory solution to this problem.
I will reimplement the entire dashboard in [panel](https://panel.holoviz.org/index.html). Panel seems to be better equipped for live-updates in plots and tables.

[2021-11-16 08:39] #31 closed

[2021-11-16 17:57] mlittmanabbvie commented on #39
Thank you so much for all of your help with this! I have another question, but I will open a new ticket for it

[2021-11-16 18:00] mlittmanabbvie opened #40 "Multiprocessing multiple add_searches"
Hello, it wasn't entirely clear in the multiprocessing example but do the multiple add_searches run in parallel or when would you increase n_jobs? For example, if I want to run two optimizers in parallel (say the repulsive hill climber and the bayesian optimizer) how would I run both in parallel? Would it be like this below?

[code]

[2021-11-17 05:32] SimonBlanke commented on #40
Hello @mlittmanabbvie,

yes this is how you would run those two optimization algorithms in parallel. They both run independed of each other and optimize the `func_minl`-function with all the parameters passed to add_search().

If you want to run the same optimization in parallel you could just call `add_search()` multiple times, but that would be tedious to write. Instead you can just call `add_se

[2021-11-17 19:07] mlittmanabbvie commented on #40
https://github.com/SimonBlanke/Hyperactive/blob/master/examples/tested_and_supported_packages/multiprocessing_example.py ,

Looking back on the example, you do mention that. I guess I didn't read close enough for whether they were all parallel. If they all run in parallel, is there a resolving function at the end that chooses the best run?

[2021-11-17 19:26] SimonBlanke commented on #40
Yes you can access the best parameter set via `.best_para(objective_function)` (from the [API ref](https://github.com/SimonBlanke/Hyperactive#hyperactive-api-reference)). This automatically selects the best parameters from all jobs of the passed objective function.

If you have more questions that fit the topic you can ask them here, otherwise you can close this issue. If you have other questions

[2021-11-17 19:28] mlittmanabbvie commented on #40
You have been so helpful thank you so much!

[2021-11-17 19:28] #40 closed

[2021-11-17 22:17] mlittmanabbvie opened #41 "AttributeError: module 'os' has no attribute 'mknod' within Progress Board"
**Look into the FAQ of the readme. Can the bug be resolved by one of those solutions?**
No
**Describe the bug**
AttributeError: module 'os' has no attribute 'mknod'

**Code to reproduce the behavior**
[code]

[code]

**System information:**
OS Platform and Distribution
Windows 10
Python version 3.8.8
Hyperactive version 3.3.2

**Additional context**
From stackoverflow https://stackoverflow.com/que

[2021-11-17 22:55] mlittmanabbvie opened #42 "Printing of Results from Runs - Preference to be able to provide additional parameters to objective function not through search space"
**Is your feature request related to a problem? Please describe.**
Yes, when using the "print results" parameter for verbosity within the Hyperactive initialization the parameter set printed includes all of the parameters used. In my case, one of the parameters within the search space is the dataframe that I am passing to the objective_function. I can't find any other way to pass the dataframe tha

[2021-11-19 09:28] SimonBlanke commented on #42
Thank you @mlittmanabbvie for the detailed explanation of the issue! :-)

The search space should only be used for parameters you want to **change/optimize**. Passing something like a dataframe to the objective function via the search space is not necessary if you define it at the **top leve**l (not inside a function/ no indentation, [What is a top-level statement in Python?](https://stackoverflow

[2021-11-19 18:28] mlittmanabbvie commented on #42
I appreciate the response! Unfortunately that doesn't help because the Dataset that I am referring to changes throughout the process. Therefore, I am unable to set it in the beginning and must pass it through each time. There doesn't seem to be a way to pass other variables to the objective function other than through the search space which means that even if you were to pass constants (ones that

[2021-11-19 18:41] SimonBlanke commented on #42
Okay this is interesting! I will prepare an example with a dataset in the search space and try to look for:
1. the prints in the command line
2. the memory

I don't think the memory would blow up if memory=True because the memory_dictionary only stores the positions in the search space, not the actual values. The memory impact should be minimal.

[2021-11-19 18:43] mlittmanabbvie commented on #42
The memory blows up because if you need to pass [df] as a parameter into search space, I believe when you send it to a list it is storing the entire thing into memory.

[2021-11-19 18:46] SimonBlanke commented on #42
Could you provide a minimal example that I can run? I am currently working on figuring this problem out, but an example would be very helpful.

[2021-11-19 18:55] mlittmanabbvie commented on #42
from hyperactive import Hyperactive
from hyperactive import RepulsingHillClimbingOptimizer
ret_df = pd.DataFrame(([1,2,3],[4,5,6],[7,8,9]))

def func_minl(opts):
    return opts['slope']**2 + opts['exp']**2

h = Hyperactive(["progress_bar", "print_results", "print_times"])
search_space = {'exp':list(range(0, 5)),
             'slope': list(np.arange(.001,10,step = .05)),
             'clust':[5],

[2021-11-19 18:56] mlittmanabbvie commented on #42
when "print results" is used in Hyperactive __init__, notice that the dataframe itself gets printed to the console for best_params

[2021-11-19 19:05] SimonBlanke commented on #42
Yes, I see what you mean. The solution for this issue is somewhat related to SimonBlanke/Hyperactive#39. In the patched version you will be able to put the dataframe into a function and then put the function into the search space. This way I can use the function name as an ID (which is very important!) in the backend.

[2021-11-19 19:07] mlittmanabbvie commented on #42
Problem with that approach is that if the dataframe is changing, the the function would need to be given the new dataframe each time in order to return the correct one.

[2021-11-19 19:22] SimonBlanke commented on #42
I do not see how your example shows a changing dataframe. If your example shows your idea in a short but clear way, then I might be able to help you.

Normally you know the content of the search space before your optimization run, but it sounds like contents of the search space (the dataframe) is changing during the optimization run. Is this correct? This would be quite unusual and I am not sure H

[2021-11-19 19:28] mlittmanabbvie commented on #42
import numpy as np
import pandas as pd
from hyperactive import Hyperactive
from hyperactive import RepulsingHillClimbingOptimizer

ret_df = pd.DataFrame(([1, 2, 3], [4, 5, 6], [7, 8, 9]))

def func_minl(opts):
    opts['df']['clust'] = opts['clust']
    return opts["slope"] ** 2 + opts["exp"] ** 2

h = Hyperactive(["progress_bar", "print_results", "print_times"])
search_space = {
    "exp": list(r

[2021-11-21 16:24] SimonBlanke commented on #41
Thanks for reporting this issue.
This error occurs, because I am not developing or testing with the Windows OS in mind. Currently I do not have a Windows OS, but I will aim for testing in Windows in the future.

However I will close this issue, because the progress board in Hyperactive version 3.x was an experimental version with the streamlit library, which does not have good live update support.

[2021-11-21 16:24] #41 closed

[2021-11-21 16:37] SimonBlanke commented on #42
Changing the search space during the optimization run is a problem, that Hyperactive is not really equipped for. Could you explain what you want to achieve? I am unfamiliar with this type of optimization problem.

Also I still do not see why the dataframe must be in the search space in your example. You do not access its parameters in the objective function to calculate anything score-related.

[2021-11-22 17:31] cryptocoinserver opened #43 "GridSearch optimizer"
It would be great to have GridSearch as optimizer too.
Would make the optimizer portfolio of hyperactive complete.

Are there plans to add it in the future? Maybe existing ones could be wrapped: https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.GridSearchCV.html

Thank you for this great project.

[2021-11-23 17:08] SimonBlanke commented on #43
Hello @cryptocoinserver,

Nice to hear, that you like this project!
I agree, that grid-search should be part of Hyperactive in the future. All optimization algorithms of Hyperactive come from [GFO](https://github.com/SimonBlanke/Gradient-Free-Optimizers). I already opened an [issue](SimonBlanke/Gradient-Free-Optimizers/issues/10) several months ago that is currently assigned to @djokester. I'm not

[2021-11-23 17:08] #43 closed

[2021-11-24 19:43] mlittmanabbvie commented on #42
In that case I was adding to the dataframe as it was running. For example, if I wanted to calculate additional metrics and add them to the dataframe on each run.

[2021-11-29 13:02] SimonBlanke commented on #39
I released **v3.3.3** of Hyperactive yesterday. It contains the fix to solve this issue, multiple new tests and more fixes and stability improvements for some related problems that might occur.

It is recommended to only use numbers, strings or functions in the search space. If you want to put an array, dataframe, class, ... into the search space you should wrap it into a function beforehand and p

[2021-11-29 13:02] #39 closed

[2021-11-29 19:56] mlittmanabbvie commented on #42
In regards to why it works for your example. It is because you don't have nested functions. In my case, it looks like this

 import numpy as np
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.datasets import load_wine
from hyperactive import Hyperactive

def run_process():
    ret_df = pd.DataFrame(([1, 2, 3], [4, 5, 6], [7,

[2021-11-29 23:04] mlittmanabbvie commented on #39
Is there an example of how the pathos library gets used? I just tried and I am getting the error "AttributeError: Can't pickle local object 'optimize.<locals>.func_min'" when passing a local function into the optimizer. Will open new ticket for it.

[2021-11-29 23:07] mlittmanabbvie opened #44 "AttributeError can't pickle local function object"
**Look into the FAQ of the readme. Can the bug be resolved by one of those solutions?**
No

**Describe the bug**
When using multiple optimizers and passing a local function, I am getting the error listed below.

**Code to reproduce the behavior**
[code]
**Error message from command line**
[code]
**System information:**
 - OS Platform and Distribution -Windows 10
 - Python version -3.9
 - Hyperacti

[2021-11-30 04:20] SimonBlanke commented on #44
Hello @mlittmanabbvie,

The api-ref section of the readme and the faq was updated with the new information about pathos. I modified your example to use pathos:

[code]

This works fine on my system. Let me know if it also works on yours.

[2021-12-03 12:10] nevinadalal commented on #37
Hi SimonBlanke
Sorry for the late reply, we have been pretty caught up with some finals.
We have made the function for fitting multiple gaussians and would be
sending you a pull request tonight. Just wanted to ask how would the
function be used in the package? Could you give an example of an
optimization algorithm where we could probably link it?

Hope to hear from you soon!

Regards
*Nevina Dalal

[2021-12-03 15:34] #21 closed

[2021-12-13 07:00] SimonBlanke commented on #42
Hello @mlittmanabbvie,

I think I can see what you are trying to do. I will prepair a design-proposal of this new feature. Then we can discuss if it solves your problem.

Sry for the late answer. I had a lot of work to do (Hyperactive v4, GFO v1, ...).

[2021-12-16 05:21] codywalker77 opened #46 "wonder of the service packages are the reason the work email is not valid.... But it's on a Azure AD account ?"
**Look into the FAQ of the readme. Can the bug be resolved by one of those solutions?**

**Describe the bug**

**Code to reproduce the behavior**

**Error message from command line**

**System information:**
 - OS Platform and Distribution
 - Python version
 - Hyperactive version

**Additional context**

[2021-12-16 07:14] #44 closed

[2022-01-15 10:00] SimonBlanke commented on #42
Hello @mlittmanabbvie,

I found an easy way to pass objects to the objective function. I hope this is what you are searching for:

You can pass a dictionary with any object to `pass_through` in the `add_search`-method. After that you can access it in the objective function. This example should demonstrate the usage:

[code]

You can change the object inside the objective-function without using the

[2022-01-27 10:34] vanquanTRAN opened #47 "Population size"
**Look into the FAQ of the readme. Can the bug be resolved by one of those solutions?**

**Describe the bug**

**Code to reproduce the behavior**

**Error message from command line**

**System information:**
 - OS Platform and Distribution
 - Python version
 - Hyperactive version

**Additional context**
Dear Simon,
i have one question relating the population size of PSO,
      search_space,

[2022-01-28 04:23] SimonBlanke commented on #47
Hello @vanquanTRAN,

the initial population is generated from initial positions. Increase the initial positions to a number bigger than the population, by setting: `initialize={"grid": 4, "random": 15, "vertices": 4}`

The current warning is:
`Warning: Not enough initial positions for population size`
`Population size is reduced to, n_inits`

I will change this to make it clear how to increase the

[2022-01-28 04:23] #47 closed

[2022-01-28 10:21] vanquanTRAN commented on #47
I tried to modify all parameters of initialize={"grid": 100, "random": 100, "vertices": 2000}, however with population size 50, the current warning always stay
 Warning: Not enough initial positions for population size
 Population size is reduced to 10
 How can i fix this problem ?

[2022-01-28 12:04] SimonBlanke commented on #47
Hello @vanquanTRAN,

I need a complete example that I can copy and run. Additionally I need the information about the python and hyperactive version + your OS.

[2022-01-28 13:10] vanquanTRAN commented on #47
# -*- coding: utf-8 -*-
"""
Created on Sun Jun  6 13:06:22 2021

@author: Admin
"""
[data_tv.csv](https://github.com/SimonBlanke/Hyperactive/files/7958840/data_tv.csv)
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
plt.rcParams["font.family"] = "Times New Roman"
plt.rcParams.update({'font.size': 22})
import matplotlib
matplotlib.rc('xtick', labelsize=14)
matplotlib.rc('yti

[2022-01-28 13:15] vanquanTRAN commented on #47
i use hyperactive               3.2.3

[2022-01-28 14:16] SimonBlanke commented on #47
@vanquanTRAN,

in your example code I do not see how you used the `initialize`-parameter to increase the number of initial positions.

[2022-01-28 14:41] vanquanTRAN commented on #47
import numpy as np

from .base_population_optimizer import BasePopulationOptimizer
from ...search import Search
from ._particle import Particle

class ParticleSwarmOptimizer(BasePopulationOptimizer, Search):
    def __init__(
        self,
        search_space,
        initialize={"grid": 100, "random": 100, "vertices": 2000},
        population=10,
        inertia=0.5,
        cognitive_weight=0.

[2022-01-29 20:04] SimonBlanke commented on #47
Hello @vanquanTRAN,

it looks like you are changing the source code of Hyperactive. You should **not** do this. The way Hyperactive behaves should only be changed by using the official API:
https://github.com/SimonBlanke/Hyperactive#hyperactive-api-reference

If you want to learn how to use Hyperactive you can also look into the tutorial:
https://github.com/SimonBlanke/hyperactive-tutorial/blob/ma

[2022-02-03 00:17] mlittmanabbvie opened #48 "ValueError: assignment destination is read-only"
**Look into the FAQ of the readme. Can the bug be resolved by one of those solutions?**
No
**Describe the bug**

When using the joblib as the parallel distributor, if the number of processes / size of them gets too big then an error will be thrown
ValueError: assignment destination is read-only
(![image](https://user-images.githubusercontent.com/79881628/152259349-74459ad2-3dc4-4807-9ed4-2e69009d0

[2022-02-03 07:00] SimonBlanke commented on #48
Hello @mlittmanabbvie,

thank you for opening this issue and providing detailed information about the problem! :-)

Could you additionally show the code that generated the error **with** Hyperactive?
Hyperactive might already be equipped to solve this problem, but I would like to try it out beforehand.

[2022-02-03 19:49] mlittmanabbvie commented on #48
Hey Simon,

I tried to come up with code that could replicate the issue (that isnt my code)  and I am struggling for some reason. Perhaps the reason for the issue is not what I think it is? Here is the stack trace, maybe you might be able to figure out why?

---------------------------------------------------------------------------
_RemoteTraceback                          Traceback (most recent

[2022-02-04 23:32] mlittmanabbvie commented on #48
Doesn't seem to be an issue with Hyperactive. Apologies!

[2022-02-04 23:32] #48 closed

[2022-02-18 10:45] mbostic opened #49 "Dynamic inertia in ParticleSwarmOptimizer"
Is there a possibility to dynamically change the inertia of the ParticleSwarmOptimizer?
I am following this article for optimizing CNN hyperparameters: https://www.sciencedirect.com/science/article/pii/S2210650221000249
It says that inertia should change in the following way:
![image](https://user-images.githubusercontent.com/17492999/154667608-52651cde-4e12-4af8-b6b0-2d7dfe256cc8.png)

Is there a

[2022-02-20 18:58] SimonBlanke commented on #49
Hello @mbostic,

this is a very interesting idea! Thanks for opening this issue.

I already thought about the possibility to change optimization parameters during the run inside the objective function. Currently it is possible to change some of the parameter, but there are some problems:

1. Changing some parameters would not work: Changing the `population size` during the optimization run would p

[2022-02-20 20:49] mbostic commented on #49
Well I understand that having the ability to change _any_ of the parameters would be hard. In the case of the ParticleSwarmOptimizer, I think it makes the most sense to have the ability to change at least the inertia, because that's what I saw mostly for this optimizer (I also saw linearly decreasing inertia in another article). Inertia is usually decreasing because this enables the optimizer to c

[2022-02-21 17:53] SimonBlanke commented on #49
Hello @mbostic,

when creating Hyperactive v3 and v4 I already wrote the backend so that accessing the parameters of the optimizers is possible. But it is not tested or documented, yet.
The argument of the objective-function in Hyperactive is not just a dictionary, but contains the entire optimizer (from gradient-free-optimizer).

The code below shows an example, that sets all parameters to 0. If

[2022-02-21 20:47] mbostic commented on #49
That makes sense, thanks. I think you can close this one.

[2022-02-22 03:48] #49 closed

[2022-02-22 10:24] 23pointsNorth opened #50 "Feature: Passing extra parameters to the optimization function"
**Is your feature request related to a problem? Please describe.**
There are situations in which the optimization function is governed by different external parameters - e.g. if the optimization score is calculated as `s = alpha * x + beta`, where depending on the initial conditions, alpha and beta are different, it can become handy to be able to pass those as either values of the optimization fun

[2022-02-22 16:14] SimonBlanke commented on #50
Hello @23pointsNorth,

thanks for the detailed explanation! (As you pointed out) it sounds like the solution from issue SimonBlanke/Hyperactive#42 is what you are searching for. I have not released this feature, yet. But you can clone the dev-branch and try it for your self, if you like.

If you are sure, that this fixes your problem you can let me know. I will add tests, merge it into master and

[2022-02-24 13:28] 23pointsNorth commented on #50
Hi @SimonBlanke,

#42 indeed helped with the issue. Any change within the optimization function to that dictionary, as I understand, would persist to the next call? Looking forward to getting it stable and in pypi :)

Few notes: I'm transitioning from 3.x, as such a few diffs that would make sense - (1) the submodule of the search strategies can be mentioned in the Roadmap section, (2) to get uniq

[2022-02-27 10:27] SimonBlanke commented on #50
Hello @23pointsNorth,

Very nice! Yes the changes to the dictionary should persist. I will add a test for this case.

(1) I do not understand what you mean by that. The fact that the optimizers are now imported from hyperactive.optimizers?
(2) You are correct! This slipped through and will be corrected. The eval-/iter-times can be accessed separately (in v4), because I don't think they should be w

[2022-02-27 11:43] 23pointsNorth commented on #50
Perfect!

The notes were mostly on the documentation side:
(1) I.e. adding that those have moved.
(2) It was just to highlight the mismatch with the readme. I agree with you that _not_ including them by default makes more sense.

[2022-03-15 18:04] mlittmanabbvie commented on #42
Which version is this pass through feature added to? I just installed 4.0.2 and I am getting add_search method doesn't have pass_through as a parameter

[2022-03-15 18:12] SimonBlanke commented on #42
Hello @mlittmanabbvie,

the code above was a suggestion how this feature could work. In the meantime I implemented the feature and I will release it in the next version (probably within the next few days).

[2022-03-15 18:15] mlittmanabbvie commented on #42
Oh got it thank you! The idea is to be able to pass any number of items to the optimization function that don't necessarily need to be in the search space correct? If so, that would be amazing! Very excited for the release

[2022-03-16 16:26] SimonBlanke commented on #42
Hello @mlittmanabbvie,

Correct! You can pass any data-type to the `pass_through`-parameter. This feature works exactly as shown in the example above. You can change the data in the `pass_through`-parameter during the optimization run (like updating a dataframe).

- I tested the pass_through-dictionary for numbers, lists and functions in 21d3f8a53dd384538c619d1aff25d6648a75bcdf.
- The README was u

[2022-03-16 16:26] #42 closed

[2022-03-16 16:28] SimonBlanke commented on #50
Hello @23pointsNorth,

the `pass_through`-feature has been released. See SimonBlanke/Hyperactive#42 for more information.

[2022-03-16 16:28] #50 closed

[2022-05-04 13:46] esmuigors opened #51 "Optimization in serial?"
Dear SimonBlanke,

First of all, thank You for this wonderful project!

My question is: can I somehow specify the optimizers to NOT run in parallel? My function is actually a call to external (parallelized) program, which furthermore cannot be run in multiple instances on the same machine (it is a commercial program). So I would like to prevent the optimizer from initiating next calculations while

[2022-05-05 08:32] esmuigors commented on #51
Dear @SimonBlanke

I am very sorry for hastily opening this issue (though it was the opportunity to say those kind words :) ). It turned out to be a problem completely unrelated to either gradient_free_optimizers or the Hyperactive... I didn't look at the modification times of the files, then it became obvious :'-) What a shame on me...

I hope that You answer will be useful for someone else at le

[2022-05-06 15:04] SimonBlanke commented on #51
Hello @esmuigors,

no Problem! I think the question and answer is still useful for others.
If you have more questions don't hesitate to open another issue.

[2022-05-06 15:04] #51 closed

[2022-06-26 13:22] SimonBlanke opened #52 "New feature: save optimizer object to continue optimization run at a later time."
## Explanation

It would be very useful if Hyperactive has the ability to **save** the optimization backend (via pickle, dill, cloudpickle, ...) to disk and **load** it later into Hyperactive to continue the optimization run.

So the goal is, that the optimizer can be saved during one code execution and loaded at a later time during a second code execution. The optimization run should behave as if

[2022-07-13 08:08] vanquanTRAN opened #53 "hyper.results(model)"
Dear Simon,
I have recently updated to the Hyperactive 4.2.0 however, it seems that the interessting feature as hyper.results(model) which help us save each iteration of optimization process in the csv file, is no longer existed. Perhaps, you change to print_results ? please help me fix this issue.
Best regard,
Thank you

[2022-07-13 16:03] SimonBlanke commented on #53
Hello @vanquanTRAN,

from v3 to v4 of Hyperactive there were some changes in the API. The dataframe containing the paramters and scores of the optimization run can now be returned with .search_data(...) instead of .results(...).

You can look this information up in the [readme provided in this repository](https://github.com/SimonBlanke/Hyperactive#hyperactive-api-reference).

[2022-07-31 15:52] SimonBlanke commented on #13
The feature described in this issue is realized by the [simple-data-collector](https://github.com/SimonBlanke/simple-data-collector). I decided to outsource this feature into a separate repository, because it is a general problem/feature that can be useful independent of Hyperactive or optimization. It also helps to modularize the code and let the separate code packages interact with APIs.

[2022-07-31 15:52] #13 closed

[2022-07-31 16:39] SimonBlanke opened #54 "New feature: Optimization Strategies"
I would like to introduce a new feature to Hyperactive to **chain together** multiple optimization algorithms. This will be called an **Optimization Strategy** in the future.

The API for this feature could look like this:

[code]

The `duration` will be the fraction of `n_iter` passed to `add_search(...)`. Each optimizer will automatically pass the memory to the next one.

This feature-idea is in

[2022-08-19 13:37] SimonBlanke opened #55 "add ray multiprocessing support"
The popular python package [ray](https://github.com/ray-project/ray) has a multiprocessing feature that could be used to run optimization-processes in parallel:
[code]

This `Pool`-API is very similar to the regular multiprocessing. I will look further into if it's possible to integrate Ray so that its features can be used in Hyperactive.

[2022-11-06 09:47] SimonBlanke opened #57 "Change Optimization paramters at runtime"
This adds a way to change the parameters of the optimization algorithms during runtime (e.g. `epsilon` from the hill-climbing optimizer). My idea is to enable this within the objective function. This way the user can change parameters based on conditions/data each time the objective function is called (evaluated). As seen in issue SimonBlanke/Hyperactive#49 there are already some parameters that c

[2022-11-17 06:08] SimonBlanke opened #59 "Show speed difference between python version"
[As discussed in this PR](https://github.com/SimonBlanke/Hyperactive/pull/58): It would be interesting to see how the newest versions of python (v3.11) speed up different optimization tasks.